@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.6.1/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=ABeeZee&family=Raleway:wght@300&family=Roboto:wght@600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
}
/* html{
        font-size: 62.5%;
    } */

:root {
  --primary-color: #fdc400;
  --border: 2px solid rgb(255, 187, 0);
  --box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
/* utility classes */
.dflex {
  display: flex;
}
.dflex-all {
  display: flex;
  align-items: center;
  justify-content: center;
}
.justify-content {
  justify-content: center;
}
.justify-content-space-bet {
  justify-content: space-between;
}
.align-items {
  align-items: center;
}
.flex-col {
  flex-direction: column;
}
.active {
  display: flex;
}
.inActive {
  display: none;
}
/* Header top style */
.header-wrap {
  background-color: #383838;
  /* display: none; */
}
.header-top {
  margin: auto;
  height: 3rem;
  width: 80%;
  justify-content: space-between;
}

address {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-style: normal;
}
address i,
address a i {
  color: rgb(248, 247, 247);
  margin-right: 10px;
}

address a,
ul.social-icons li a {
  color: white;
  text-decoration: none;
}
.social-icons li {
  margin: 0 13px;
}
.social-icons {
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: space-between;
  list-style: none;
}
address:hover i,
address:hover,
address:hover a,
.social-icons li a:hover {
  color: var(--primary-color);
}
.address a span {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
address:hover .bi-telephone-outbound.bi::before {
  /* animation properties */
  animation-name: my-animation;
  animation-duration: 0.05s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation {
  from {
    transform: translateX(-1.2px);
  }
  to {
    transform: translateX(1.2px);
  }
}

.arrow {
  height: 4rem;
  font-size: 1.5rem;
  color: white;
  background: #383838;
  cursor: pointer;
}
/* header bottom means Navbar style */
.navbar-main {
  /* border: var(--border); */
  background: white;
  z-index: 102;
  width: 100%;
  justify-content: space-around;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  position: sticky;
  top: -1.8rem;
}
.navbar-wrapper {
  height: 9rem;
  align-items: center;
  width: 85%;
  margin: 0 auto;
}
.navbar {
  width: 50%;
}
.nav-item-container {
  justify-content: space-around;
  width: 100%;
  list-style: none;
}
.nav-item-container li {
  padding: 0 10px;
  /* margin: ; */
}
.nav-item-container li a {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1rem;
  text-decoration: none;
  /* padding: 4px 20px; */
  overflow: hidden;
  position: relative;
}
.nav-item-container li a:active {
  color: var(--primary-color);
}
.nav-item-container li a::before {
  content: attr(data-hover);
  top: 0;
  left: 0;
  /* padding: 4px 20px; */
  position: absolute;
  /* padding: 4px 20px; */
}
.nav-item-container li:hover a,
.phone-footer:hover a span {
  color: var(--primary-color);
}
.nav-item-container li:hover a::before {
  color: var(--primary-color);
  transition: all 0.21s ease-in-out;
  animation: menu 0.21s linear 1;
}
@keyframes menu {
  0% {
    color: var(--primary-color);
    top: 20%;
  }
  100% {
    top: 0;
  }
}
.toggle-menu-container {
  height: 3rem;
  width: 3rem;
}
.toggle-menu-container .toggle-menu.menu-on i {
  font-size: 2.2rem;
  font-weight: bold;
  /* border: var(--border); */
}
.toggle-menu-container .toggle-menu.menu-off i {
  /* border: var(--border); */
  padding: 0 !important;
  margin: 0 !important;
  font-size: 2.7rem;
  font-weight: bold;
}

/* ```````````````````````````````````````section1 styling  ``````````````````````````````````````*/
.section1 {
  flex-direction: column;
  overflow: hidden;
}
.img-container {
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 65vh;
  text-align: left;
  color: white;
  font-size: 5rem;
  transition: all 03s linear;
  animation: imgSlider 30s forwards infinite;
  position: relative;
  overflow: hidden;
}
@keyframes imgSlider {
  0% {
    background: url("./images/bg2.jpg") center center/cover;
  }
  45% {
    background: url("./images/bg2.jpg") center center/cover;
  }
  50% {
    background: url("./images/bg.avif") center center/cover;
  }
  95% {
    background: url("./images/bg.avif") center center/cover;
  }
  100% {
    background: url("./images/bg2.jpg") center center/cover;
  }
}
.color {
  color: var(--primary-color);
}
.img-container div.text-div {
  width: 85%;
  text-transform: capitalize;
  animation: sliding 30s forwards infinite;
  transform: translateY(300%);
  animation-delay: -2s;
}
.img-container div.text-div p,
.img-container div.text-div-alt p {
  font-size: 2rem;
  padding: 0.5rem;
  text-align: left;
  text-transform: none;
}

.img-container div.text-div-alt {
  transform: translateY(300%);
  width: 85%;
  text-transform: capitalize;
  animation: text-alt 30s forwards infinite;
  animation-delay: 13s;
}
@keyframes sliding {
  0% {
    /* font-size: 1em; */
    visibility: visible;
    transform: translateY(200%);
    opacity: 0;
  }
  25% {
    transform: translateY(40%);
    visibility: visible;
    opacity: 1;
  }

  50% {
    transform: translateY(40%);
    visibility: hidden;
  }
  75% {
    transform: translateY(40%);
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

/* @keyframes text-alt {
  0% {
    visibility: hidden;
  }
  25% {
    visibility: hidden;
  }
  50%{
    transform: translateY(300%);
    visibility: visible;
    
  }
  75%{
    transform: translateY(-100%);
    visibility: visible;
    
  }
  100% {
    transform: translateY(-100%);
    visibility: visible;
  }
} */

@keyframes text-alt {
  0% {
    visibility: visible;
    transform: translateY(200%);
    opacity: 0;
  }
  25% {
    transform: translateY(-50%);
    visibility: visible;
    opacity: 1;
  }

  50% {
    transform: translateY(-50%);
    visibility: hidden;
  }
  75% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
    /* visibility: visible; */
    /* background: red;  */
  }
}

.total-data-container {
  background: url("./images/bgimg.jpg");
  height: 7rem;
  width: 100%;
  position: relative;
  /* z-index: -1; */
}
.total-data {
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: cneter;
  color: white;
  font-size: 2.5rem;
  z-index: 1;
  background: url("./images/bgimg.jpg");
}
.total-data-items {
  position: relative;
  width: 25%;
  height: 100%;
}
.total-data-items::before {
  content: "";
  width: 100%;
  height: 100%;
  background: rgba(32, 31, 31, 0.4);
  z-index: -1;
  top: 0;
  left: -10;
  position: absolute;
  transform: skewX(-22deg);
}
.total-data-items i {
  color: var(--primary-color);
  margin-right: 1rem;
}
.total-data-items p {
  font-size: 1rem;
  text-transform: uppercase;
}
.total-data-items h4 {
  font-weight: 400;
}
.total-data div:nth-child(even):before {
  background: none;
}

/* Styling of section2 */
.section2-container {
  justify-content: center;
  margin: 2rem 0;
  width: 100%;
  /* border: 2px solid red; */
  height: 40rem;
  overflow: hidden;
}
.section2-img {
  height: 100%;
  width: 50%;
}
.section2-img img {
  margin: 3rem;
  margin-top: 3rem;
  height: 65%;
  width: 80%;
}

.section2-container .section2-text {
  width: 50%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  margin-top: 0rem;
}
.section2-container .section2-text h1 {
  font-size: 3rem;
  padding: 0 5rem;
  color: rgb(43, 40, 40);
}
.right-mark-text,
.section2-container .section2-text p {
  padding: 1rem 5rem;
  font-size: 1.1rem;
  line-height: 2rem;
  color: rgb(104, 100, 100);
}

.right-mark-text span {
  padding: 0;
  margin: 0 1rem;
  color: white;
  display: inline-block;
  height: 20px;
  width: 20px;
  text-align: center;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 0.6rem;
  background: rgba(0, 0, 0, 0.575);
  border-radius: 50%;
}
.btn-section2 {
  height: 3.2rem;
  width: 11rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  line-height: 0.7rem;
  margin: 0 auto;
  padding: 1rem;
  border: none;
  background: #4d4d4d;
  color: white;
  border-radius: 5px;
  margin-left: 5rem;
  margin-top: 1rem;
  transition: all 0.3s linear;
}

.btn-section2:hover {
  background-color: var(--primary-color);
  color: rgb(32, 32, 32);
  font-weight: 400;
}

/* section2 bottom styling */
.section2-bottom-container {
  width: 100%;
  height: 9rem;
  background: url("./images/bgimg.jpg") 0 0 repeat-x;
}
.section2-bottom {
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  height: 100%;
  /* border: 2px solid red; */
  color: white;
}
.section2-bottom h2 {
  font-size: 2.2rem;
  font-weight: 600;
}
.section2-bottom h2 span {
  color: var(--primary-color);
}
.section2-bottom p {
  font-weight: Thin 100;
  font-family: "Raleway", sans-serif;
  font-size: 1.1rem;
}
.section2-bottom p.tel {
  font-size: 1.2rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
}
.section2-bottom p.tel {
  font-size: 2rem;
}
/* .section2-bottom-icon{
  border: 2px solid red;
  height: 100%;
} */
.section2-bottom-icon img {
  height: 100%;
}

/*````````````````````` Section3 Moving car Styling```````````````````*/
.section3-moving-car-container {
  height: 40rem;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}
.section3-moving-car-container .road-bg {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  /* left: 0; */
  right: 0;
  z-index: -1;
  transition: all linear 10s;
  background: url(./images/citybg2.jpg);
  background-position: left bottom;
  /* background-position: 3200px bottom; */

  background-repeat: repeat-x;
  animation: movingCity 10s linear infinite;
}
@keyframes movingCity {
  /* 0% {
    transform: translateX(-0px);
  }
  10% {
    transform: translateX(320px);
  }
  20% {
    transform: translateX(640px);
  }
  30% {
    transform: translateX(960px);
  }
  40% {
    transform: translateX(1280px);
  }
  50% {
    transform: translateX(1600px);
  }
  60% {
    transform: translateX(1920px);
  }
  70% {
    transform: translateX(2240px);
  }
  80% {
    transform: translateX(2560px);
  }
  90% {
    transform: translateX(2880px);
  } */
  100% {
    /* transform: translateX(3200px); */
    background-position: 3200px bottom;
  }
}
.section3-moving-car-container .moving-car {
  position: absolute;
  bottom: 3rem;
  left: 50%;
  transform: translateX(-40%);
  height: 50%;
  width: 45%;
  background: url(./images/carObj.png) center center/contain no-repeat;
  /* border: var(--border); */
  /* background: red; */
  animation: carUpDown 1s infinite linear;
  z-index: 1;
}

/* .section3-moving-car-container .moving-car img{
      height: 100% ;
      border: var(--border);
      width: 100%;
    } */
.wheels {
  height: 4.5rem;
  width: 4.5rem;
  position: absolute;
  z-index: 3;
}
.wheels img {
  height: 100%;
  width: 100%;
}
.wheels.right-wheel {
  bottom: 95px;
  left: 598px;
  animation: wheelRotate 0.6s infinite linear;
}
.wheels.left-wheel {
  bottom: 95px;
  left: 900px;
  animation: wheelRotate 0.6s infinite linear;
}
@keyframes wheelRotate {
  100% {
    transform: rotate(-360deg);
  }
}

.limiter {
  height: 10rem;
  z-index: 4;
  width: 100%;
  position: absolute;
  /* border: var(--border); */
  bottom: 0;
  right: 0;
  background: url(./images/limiter.png);
  background-position: 0 bottom;

  transition: all ease-in-out 10s;
  /* background: url(./images/citybg2.jpg) center center/contain; */
  background-repeat: repeat-x;
  animation: movingLimiter 10s linear infinite;
}
@keyframes movingLimiter {
  100% {
    /* transform: translateX(100%); */
    background-position: 3200px bottom;
  }
}

/* ``````````````````````````````Section4 styling```````````````````````````` */
.section4-heading {
  font-size: 3rem;
  margin-top: 2rem;
}
.section4-container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
  flex-wrap: wrap;
}
.section4-container .item {
  background: #f9fafb;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  /* border: var(--border); */
  padding: 2rem;
  height: 20rem;
  /* border-radius: 5px; */
  box-shadow: 0 1px 1px rgb(0 0 0 / 12%), 0 1px 1px rgb(0 0 0 / 24%);
  width: 25%;
}
.section4-container .item h3 {
  text-transform: uppercase;
  font-size: 1rem;
}
.section4-container .item .description {
  text-align: center;
  color: #09242b9a;
  line-height: 1.5rem;
  letter-spacing: 0.02rem;
}
.section4-container .item .icon {
  height: 4rem;
  width: 4rem;
}
.section4-container .item .icon img {
  height: 100%;
  width: 100%;
  /* opacity: ; */
}
.section4-container .item:nth-child(even) {
  background: none;
}
.section4-container .item:nth-child(5) {
  background: none;
}
.section4-container .item:nth-child(6) {
  background: none;
  background: #f9fafb;
}
.section4-container .item:nth-child(7) {
  background: none;
  /* background: #f9fafb; */
}
.section4-container .item:nth-child(8) {
  /* background: none; */
  background: #f9fafb;
}
.section4-container .item:hover {
  animation: shaking 0.2s linear 1;
}

@keyframes shaking {
  0% {
    transform: translateX(2px);
  }
  25% {
    transform: translateX(-2px);
    /* transform: translateX(0); */
  }
  50% {
    transform: translateX(2px);
  }
  100% {
    transform: translateX(-2px);
  }
}

/* ```````````````````````````````````````````section-5 styling`````````````````````````````````````` */
.section5-container {
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  background: #f9fafb;
  /* border: var(--border); */
  overflow: hidden;
}
.price-table {
  width: 80%;
  margin: 5rem auto;
}
.price-table h2 {
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  margin-bottom: 1.5rem;
}
.price-table p {
  color: #969594;
  line-height: 2rem;
  font-size: 1.1rem;
}

.section5-container-wrapper {
  /* transform: translateX(114%); */
  width: 80%;
  overflow: hidden;
  margin-bottom: 2rem;
  /* border: var(--border); */
  /* animation: tran 8s linear infinite; */
  overflow: hidden;
}
/* @keyframes tran {
  0%{
    transform: translate(204%);
  }
  20%{
    transform: translateX(0);
  }
  80%{
    transform: translateX(0);
  }
  100%{
    transform: translateX(-114%);
  }

} */
.price-table-container:nth-child(2) {
  /* height: 100%; */
  border: var(--border);
  border-width: 0.1rem;
}
.price-table-container {
  /* height: 40rem; */
  background: white;
  box-shadow: 0 4px 20px rgb(81 127 160 / 13%);
  width: 29%;
  text-align: center;
  flex-direction: column;
  justify-content: space-around;
  /* border:var(--border); */
  padding: 2rem;
}
.course-name {
  justify-content: space-around;
  /* justify-content: space-between; */
  align-items: center;
}
.course-name h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}
.course-name span {
  display: inline-block;
  height: 2.9px;
  width: 20%;
  margin: 0.1rem 0;
  background-color: var(--primary-color);
}

.price-table__feature-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.price-table__feature-list li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.2rem 0;
  height: 3rem;
  font-size: 1.1rem;
  color: #969594;
}
.price-table__feature-list li:nth-child(odd) {
  background-color: #f9fafb;
}
li .btn-section2 {
  margin-left: auto;
  width: 12rem;
}

/* ```````````````````````````footer section `````````````````````````````````*/
.footer-main {
  height: 25rem;
  /* border: var(--border); */
  background: url(./images/bgimg.jpg) center center repeat;
  color: rgb(207, 205, 205);
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.footer-item-container {
  width: 80%;
  height: 70%;
  /* margin: 0 auto;s */
  justify-content: space-between;
  /* flex-wrap: wrap; */
}
.footer-item .logo-img-footer {
}
.footer-item {
  /* border: var(--border); */
  width: 25%;
  height: 100%;
}

.footer-item:nth-child(2) {
  width: 40%;
}

.footer-item.logo-footer {
  flex-direction: column;
  justify-content: space-evenly;
}
.logo-img-footer {
  width: 100%;
  margin: 0 auto;
}
.logo-img-footer img {
  width: 100%;
  /* height: 150%; */
  /* border: var(--border); */
}
p.footer-para {
  line-height: 1.5rem;
}

.footer-item.information {
  justify-content: space-evenly;
  align-items: flex-start;
}
.footer-item.information .info,
.footer-item.information .customer-service {
  flex-direction: column;
  margin-top: 2rem;
}
.footer-item.information h3 {
  color: var(--primary-color);
  font-size: 1.4rem;
}
.footer-item.information span {
  display: inline-block;
  height: 70%;
  margin: auto;
  width: 1px;
  background-color: rgb(128, 124, 124);
}
.footer-item.information ul li {
  list-style: none;
  margin: 1rem 0;
}

.footer-item.information ul li:hover a {
  color: var(--primary-color);
}
.footer-item.information ul li a {
  text-decoration: none;
  /* color: white; */
  color: rgb(229, 226, 226);
}

.phone-social-icon-footer {
  flex-direction: column;
  justify-content: space-evenly;
}
.footer-item .contact-footer {
  background: white;
  border-radius: 10px;
  width: 80%;
  flex-direction: column;
  height: 60%;
  justify-content: space-around;
}
.footer-item .contact-footer a {
  text-decoration: none;
  color: rgb(29, 29, 29);
}
.phone-footer {
  font-size: 1.3rem;
}
.phone-footer span {
  margin: 0 0.6rem;
}
.phone-footer:hover .bi-telephone-outbound.bi::before {
  color: var(--primary-color);
  transform: translateY(-3px);
  animation: my-animation 0.08s alternate infinite linear;
}
.address.address-footer a {
  font-size: 0.9rem;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.footer-item .contact-footer .logo-img-footer-right img {
  width: 100%;
}

.social-icons-footer ul li a i {
  color: black;
  font-size: 1.2rem;
  z-index: 2;
  font-weight: bold;
}
.social-icons-footer ul li a {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-icons-footer ul li {
  position: relative;
  height: 2.3rem;
  width: 2.3rem;
  /* text-align: center; */
}
.social-icons-footer ul li:hover i {
  color: white;
}
.social-icons-footer ul li:hover li::before {
  background: rgb(248, 0, 0);
  display: none;
  z-index: 0;
}
.social-icons-footer ul li::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: var(--primary-color);
  width: 100%;
  /* border: var(--border); */
  z-index: 0;
  border-radius: 5px;
  transform: rotate(45deg);
}

.copyright {
  margin-left: 10%;
  align-self: flex-start;
}

/* ````````````````````````````````AboutUs styling```````````````````````````````` */
.aboutUs-main-container {
  width: 100%;
  /* border: var(--border); */
  margin-top: 3rem;
}
.overview-main {
  width: 80%;
  margin: auto;
  height: 40rem;
  flex-direction: column;
}
.overview-main h2 {
  font-size: 3.2rem;
  font-weight: lighter;
  margin: 2rem auto;
}
.overview-sub {
  width: 100%;
  height: 100%;
  /* border: var(--border); */
}
.overview-sub .overview-img {
  width: 50%;
  /* border: var(--border); */
}
.overview-sub .overview-img img {
  width: 90%;
  /* height: 10rem; */
}
.overview-sub .overview-text {
  width: 50%;
  height: 80%;
  /* align-self: flex-start; */
  /* border: var(--border); */
  padding: 1rem;
  justify-content: space-evenly;
  color: rgba(80, 78, 78, 0.836);
}
.overview-sub .overview-text h3 {
  color: rgb(80, 78, 78);

  font-size: 2.3rem;
}
.overview-sub .overview-text p {
  margin-top: 1rem;
  font-size: 1.1rem;
}
.overview-sub .overview-text ul {
  padding: 1rem;
  font-size: 1.2rem;
}
.overview-sub .overview-text ul li {
  margin: 1rem;
  list-style-type: symbols();
  list-style-position: inside;
}

.aboutUs-work {
  /* border: var(--border); */
  width: 100%;
  margin: 5rem auto;
  height: 45rem;
}
.aboutUs-work h2 {
  font-size: 3.2rem;
  font-weight: lighter;
  margin: 3rem auto;
}
.aboutUs-work p {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}
.aboutUs-work .aboutUs-img {
  width: 100%;
}
.aboutUs-work .aboutUs-img img {
  width: 70%;
  height: auto;
}
.aboutUs-statistics {
  position: relative;
  width: 100%;
  /* border: var(--border); */
  /* background: rgb(153, 152, 152); */
  background-color: rgba(66, 66, 66, 0.55);
  height: 40rem;
  height: auto;
  margin: auto;
}
.aboutUs-statistics .statistics {
  width: 80%;
  justify-content: space-evenly;
  position: relative;
  flex-wrap: wrap;
}
.aboutUs-statistics h2 {
  margin: 2rem 0;
  text-transform: capitalize;
  font-size: 3.2rem;
  font-weight: lighter;
  margin: 3rem auto;
  color: white;
}
.aboutUs-statistics .stat-item {
  margin: 3rem 0;
}

.aboutUs-statistics .stat-item .stat-log {
  margin: 2rem;
}
.aboutUs-statistics .stat-item h4 {
  /* margin: 2rem; */
  font-size: 2.5rem;
  font-weight: lighter;
  color: var(--primary-color);
}
.aboutUs-statistics .stat-item h3 {
  margin: 2rem 0;
  font-size: 1.2rem;
  text-transform: uppercase;
  color: white;
}

.aboutUs-statistics .stat-item i {
  color: white;
  font-size: 7rem;
}
.aboutUs-statistics::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: url("./images/bg4.jpg") center center/cover no-repeat;
  z-index: -1;
}

.aboutUs-slogan {
  justify-content: space-evenly;
  width: 75%;
  height: 15rem;
  position: relative;
  border: white;
  border-radius: 25px;
  background: url(./images/bgimg.jpg) center center repeat;
  margin: 4rem auto;
  color: white;
  z-index: 1;
}
.aboutUs-slogan::before {
  content: "";
  height: calc(100% - 30px);
  width: calc(100% - 30px);
  border-radius: 25px;
  position: absolute;
  z-index: -1;
  border: 5px solid rgb(255, 255, 255);
}
.aboutUs-slogan h1 {
  font-size: 3rem;
}
.aboutUs-slogan .btn-section2 {
  margin: 0;
  background-color: var(--primary-color);
  color: #4d4d4d;
  font-weight: bolder;
  cursor: pointer;
  transition: all 0.1s linear;
}

.aboutUs-slogan .btn-section2:hover {
  background-color: #4d4d4d;
  color: var(--primary-color);
  font-weight: bolder;
}

/* ``````````````````````````````````````` Contact styling ``````````````````````````````````````*/
.contact-main {
  height: 100vh;
  width: 100%;
  /* border: var(--border); */
}
.contact-main h1 {
  font-size: 3.5rem;
  font-weight: lighter;
  text-transform: capitalize;
  color: #3b3a3a;
  margin: 2rem 0;
}
.contact {
  height: 80%;
  width: 80%;
  justify-content: space-evenly;
  /* border: var(--border); */
}

.contact-form {
  display: block;
  height: 100%;
  width: 40%;
  /* border: var(--border); */
}
.contact-form div {
  width: 100%;
  height: 100%;
  align-items: flex-start;
  justify-content: flex-start;
}
.contact-form div h2,
.contact-office h2 {
  font-size: 2.5rem;
  font-weight: lighter;
  color: #3b3a3a;
  margin: 10px;
}
.contact-form div p {
  text-align: left;
  padding: 0 0.5rem;
  margin: 20px 0;
  padding-right: 2rem;
  font-family: "Open Sans", Sans-serif;
  color: #393939;
  font-weight: 300;
}
.contact-form input,
.contact-form input:focus {
  width: 80%;
  margin: 10px;
  height: 3.5rem;
  border: 1px solid;
  padding: 1rem;
  font-size: 1rem;
  border-color: #d8d6d5;
  border-radius: 3px;
  outline: none;
}

textarea {
  width: 80%;
  margin: 10px;
  border-color: #d8d6d5;
  border-radius: 3px;
  height: 25rem;
}
.contact-form .btn-section2 {
  margin: 2rem 0.5rem;
}
.contact-office {
  align-items: flex-start;
  width: 40%;
  height: 100%;
  /* border: var(--border); */
}

.contact-office .contact-address {
  align-items: flex-start;
  width: 100%;
  height: 80%;
  justify-content: flex-start;
  /* border: var(--border); */
}

.contact-office .contact-address .icon-heading {
  margin: 25px 12px;
  align-items: flex-start;
}
.contact-office .contact-address .icon-heading i {
  font-size: 2rem;
  color: var(--primary-color);
  margin-right: 2rem;
}
.contact-office .contact-address .icon-heading h3 {
  font-size: 1.3rem;
  text-transform: uppercase;
}
.icon-sub-heading p {
  color: #393939;
}
.icon-sub-heading p:nth-child(2) {
  margin: 0.5rem 0;
}
