.none {
  animation: none !important;
}
/* `````````````````````````````1320px Break Point````````````````````````````` */
@media (max-width: 1320px) {
  html {
    font-size: 95%;
  }
  .header-top {
    margin: auto;
    height: 3rem;
    width: 100%;
    justify-content: space-evenly;
  }
  .navbar {
    width: 60%;
  }
  .nav-item-container li a {
    font-size: 1.1rem;
  }
  .footer-main {
    flex-direction: column;
    padding: 2rem 0;
    height: 60rem;
    align-items: center;
    justify-content: space-around;
  }
  .footer-item-container {
    width: 80%;
    height: 90%;
    justify-content: space-between;
    flex-direction: column;
  }
  .footer-item.logo-footer {
    justify-content: center;
    width: 70%;
  }
  .footer-item.logo-footer p {
    text-align: center;
    font-size: 1.1rem;
    margin-top: 1rem;
  }
  .footer-item.logo-footer img {
    width: 50%;
  }
  .footer-item:nth-child(2) {
    width: 60%;
    margin-top: 2rem;
  }
  .footer-item.information .info,
  .footer-item.information .customer-service {
    display: flex;
    flex-direction: column;
    /* margin-top: 2rem; */
    align-items: center;
    justify-content: center;
  }
  .footer-item.information ul li a,
  .footer-item.customer-service ul li a {
    font-size: 1.2rem;
  }
  .footer-item.information ul li,
  .footer-item.customer-service ul li {
    text-align: center;
  }
  .footer-item.phone-social-icon-footer {
    width: 50%;
    height: 100%;
    margin: 2rem;
  }
  .footer-item.phone-social-icon-footer .contact-footer {
    height: 92%;
    width: 80%;
  }
  .social-icons-footer {
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    width: 100%;
  }
  .social-icons-footer .social-icons {
    width: 90%;
  }
  .social-icons-footer ul {
    justify-content: center;
  }
  .social-icons-footer ul li {
    height: 3rem;
    width: 3rem;
    margin: 0 12px;
  }
  .social-icons-footer ul li a i {
    font-size: 1.5rem;
  }
  .copyright {
    align-self: center;
    font-size: 1.2rem;
    margin-left: 0;
  }
}

/* `````````````````````````````1080 Break Point````````````````````````````` */
@media (max-width: 1080px) {
  html {
    font-size: 90%;
  }
  .header-top {
    /* display: none; */
    margin: auto;
    padding: 1rem 0;
    height: 15rem;
    width: 90%;
    justify-content: space-around;
    flex-direction: column;
    align-items: flex-start;
  }
  .social-icons {
    font-size: 1.35rem;
  }
  .navbar-wrapper {
    justify-content: space-evenly;
    width: 90%;
  }
  .navbar {
    width: 80%;
  }
  .nav-item-container li a {
    font-size: 1.1rem;
  }
  .social-icons li {
    /* font-size: 1.3rem; */
    margin: 0;
    margin-right: 2rem;
  }
  .img-container {
    font-size: 4rem;
  }
  .section4-container {
    justify-content: space-around;
  }
  .section4-container .item {
    width: 45%;
    margin: 1rem 0;
    padding: 5rem;
    background: none !important;
  }
  .section4-container .item h3 {
    font-size: 1.3rem;
    margin: 1rem 0px;
  }
  .section4-container .item .description {
    font-size: 1.2rem;
  }
  .section4-container .item:nth-child(1),
  .section4-container .item:nth-child(4),
  .section4-container .item:nth-child(5),
  .section4-container .item:nth-child(8) {
    background: #f9fafb !important;
  }
}

/* `````````````````````````````990 Break Point````````````````````````````` */
@media (max-width: 990px) {
  html {
    font-size: 85%;
  }
  /* body { */
  /* background-color: red; */
  /* } */
  .navbar-wrapper {
    justify-content: space-evenly;
    align-items: flex-start;
    width: 85%;
    flex-direction: column;
  }
  .navbar-logo {
    align-self: flex-start;
    height: 60%;
  }
  .navbar-logo img {
    height: 100%;
  }
  .nav-item-container {
    justify-content: flex-start;
    list-style: none;
  }
  .nav-item-container li {
    padding: 0;
    margin-right: 2.2rem;
  }
  .section2-container .section2-text h1 {
    text-align: center;
  }
  .section2-container .btn-section2 {
    margin: 1rem auto;
  }

  .section2-bottom-container {
    height: auto;
  }
  .section2-bottom {
    width: 70%;
    margin: 2rem 0;
  }
  .section4-container .item h3 {
    text-align: center;
  }

  .section5-container-wrapper {
    justify-content: center;
    border: none;
    width: 50%;
    position: relative;
    height: 40rem;
  }
  .price-table-container.none {
    animation: none !important;
  }
  .price-table-container.width-none {
    left: 0%;
  }
  .price-table-container {
    /* border: var(--border); */
    position: absolute;
    top: 0;
    left: 110%;
    min-height: 80%;
    width: 100%;
    animation: tran 6s linear infinite;
  }
  .price-table-container3 {
    animation-delay: 4s;
    z-index: 0 !important;
  }
  .price-table-container2 {
    animation-delay: 2s;
    height: auto;
  }
  @keyframes tran {
    0% {
      left: 110%;
    }
    8% {
      left: 0%;
    }
    28.34% {
      left: 0%;
    }
    35.34% {
      left: -110%;
    }
    100% {
      left: -110%;
    }
  }
}

/* `````````````````````````````850px Break Point````````````````````````````` */
@media (max-width: 850px) {
  .navbar {
    width: 100%;
  }
  .nav-item-container li {
    padding: 0;
    margin-right: 2rem;
  }
  /* section2 */
  .img-container div.text-div,
  .img-container div.text-div-alt {
    width: 95%;
  }
  .img-container {
    font-size: 3.5rem;
  }

  .total-data {
    position: absolute;
    top: 0;
    left: 100%;
    animation: slideData 4s linear infinite;
  }
  .total-data-items {
    width: 33.3%;
  }
  .total-data div:nth-child(odd):before {
    background: none !important;
  }
  @keyframes slideData {
    0% {
      left: 100%;
    }
    10% {
      left: 0%;
    }
    89% {
      left: 0%;
    }
    90% {
      left: -100%;
    }
    100% {
      left: -100%;
    }
  }

  /* .total-data {
    position: relative;
  } */
  /* .total-data-items {
    position: absolute;
    top: 0;
  width: 100%;
  left: 102%;
  animation: dataSlider 8s linear  infinite;
  
}
.total-data div:nth-child(2) {
  animation-delay: 2s;
}
.total-data div:nth-child(3) {
  animation-delay: 4s;
}
.total-data div:nth-child(4) {
  animation-delay: 6s;
}
@keyframes dataSlider {
  0%{
    left: 100%;
  }
  5%{
    left: 0%;
  }
  25%{
    left: 0%;
  }
  30%{
    left: -100%;
  }
  100%{
    left: -100%;
  }
  
} */

  .section2-container {
    flex-direction: column;
    height: inherit;
  }
  .section2-img {
    height: 100%;
    width: 70%;
  }
  .section2-container .section2-text {
    width: 100%;
  }
  .section2-bottom {
    width: 85%;
    margin: 2rem 0;
  }

  /* section4 */
  .section4-container {
    width: 90%;
  }
  .section4-container .item {
    padding: 1rem;
  }

  p.footer-para {
    margin-top: 1rem;
  }
  .footer-item.logo-footer img {
    width: 63%;
  }

  .section5-container-wrapper {
    width: 60%;
  }
}
/* `````````````````````````````750px Break Point````````````````````````````` */
@media (max-width: 750px) {
  .total-data-items {
    width: 50%;
  }
  .footer-item.phone-social-icon-footer {
    width: 62%;
  }
  .section2-bottom-container {
    height: auto;
    flex-direction: column;
  }
  .section2-bottom {
    width: 100%;
    margin: 1.5rem 0;
  }

  .section5-container-wrapper {
    width: 65%;
  }
  .footer-item-container {
    width: 90%;
  }
  .footer-item.logo-footer {
    justify-content: center;
    width: 100%;
  }
  .footer-item.logo-footer img {
    width: 56%;
  }
  .price-table__feature-list li {
    font-size: 1.3rem;
  }
}

/* `````````````````````````````650px Break Point````````````````````````````` */
@media (max-width: 650px) {
  html {
    font-size: 80%;
  }
  .navbar {
    width: 100%;
    height: 100%;
    margin-bottom: 2rem;
    position: sticky;
    top: 7rem;
    background: white;
    z-index: 1000;
  }
  .nav-item-container {
    height: 100%;
    justify-content: flex-start;
    list-style: none;
    align-items: flex-start;
    flex-direction: column;
    margin: 2rem;
  }
  .nav-item-container li a {
    font-size: 1.1rem;
    font-size: 1.2rem;
    color: #545654;
  }
  .nav-item-container li {
    padding: 1.5rem 0;
    /* margin:0.5rem 0; */
    width: 100%;
    border-bottom: 1px solid #ebebeb;
    /* border: var(--border); */
  }

  .section5-container-wrapper {
    border-radius: 10px;
    width: 80%;
  }
  .price-table-container {
    border-radius: 10px;
  }
}

@media (max-width: 650px) {

.total-data-items {
  width: 100%;
}
}